<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Country Management Page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">



    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!--<div th:replace="partials/header"></div>-->
<!--<div th:replace="partials/menu"></div>-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>List of Countries</h1>

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item active">Blank</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Countries of Interests</h5>
                <p>The list shows Countries where Interests of Company are made.</p>


                <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">#</th>
                            <th scope="col">Capital</th>
                            <th scope="col">Country</th>
                            <th scope="col">Code</th>
                            <th scope="col">Continent</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="country:${countries}">
                            <th scope="row" th:text="${country.id}"></th>
                            <th th:text="${countryStat.index + 1}"></th>  <!-- Needed? -->
                            <td th:text="${country.capital}"></td>
                            <td th:text="${country.nationality}"></td>
                            <td th:text="${country.code}"></td>
                            <td th:text="${country.continent}"></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">

                                    <button th:id="${country.getId()}" class="btn btn-outline-primary btn-sm editButton"><i class="bi bi-pencil-square"></i></button>
                                    <a th:href="'/countries/remove/' + ${country.getId()}" class="btn btn-outline-danger btn-sm"><i class="bi bi-x-circle-fill"></i></a>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="bi bi-plus"></i>Add Country</button>
            </div>
        </div>




</main><!-- End #main -->


<!--<div th:replace="partials/footer"></div>-->



    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Country Form</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="editForm">

                        <div class="form-group">
                            <label for="capital" class="col-form-label">Capital:</label>
                            <input type="text" class="form-control" id="capital" name="capital">
                        </div>

                        <div class="form-group">
                            <label for="nationality" class="col-form-label">Country:</label>
                            <input type="text" class="form-control" id="nationality" name="nationality">
                        </div>

                        <div class="form-group">
                            <label for="code" class="col-form-label">Code:</label>
                            <input type="text" class="form-control" id="code" name="code">
                        </div>

                        <div class="form-group">
                            <label for="continent" class="col-form-label">Continent:</label>
                            <input type="text" class="form-control" id="continent" name="continent">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Add</button>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




<!-- JavaScript Bundle with Popper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="/assets/js/country.js"></script>
<script src="/assets/js/main.js"></script>
<!--<script src="/assets/js/country.js"></script>-->

</body>

</html>
